@model MegwayParcel.Common.Data.Order
@using MegwayParcel.Common.Data
@using Newtonsoft.Json;
@using MegwayParcel.Common
@using Microsoft.AspNetCore.Http


@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_NewLayout.cshtml";
    var collection = Model.Addresses.Where(x => x.TypeId == 1).FirstOrDefault();
    var exporter = Model.Addresses.Where(x => x.TypeId == 2).FirstOrDefault();
    var delivery = Model.Addresses.Where(x => x.TypeId == 3).FirstOrDefault();
    var shipmentResult = JsonConvert.DeserializeObject<ServiceResult>(Model.SelectQuote);

    string str = Context.Session.GetString("Setting");
    CompanySetting setting = null;
    if (str != null)
    {
        setting = JsonConvert.DeserializeObject<CompanySetting>(str);
    }
    string val = Context.Session.GetString("LoginObject");
    Customer customer = null;
    if (val != null)
    {
        customer = JsonConvert.DeserializeObject<Customer>(val);
    }

    double total = (double)(Model.ShippingCharges + Model.Surcharges + Model.RemoteSurcharges);
    string logoName = shipmentResult.ServiceName + ".png";
    var devDetail = Model.DeliveryDetails.FirstOrDefault();
    BookShipmentOutput_DTO orderResponse = null;
    if (Model.OrderResponse != null)
    {
        orderResponse = JsonConvert.DeserializeObject<BookShipmentOutput_DTO>(Model.OrderResponse);
    }
    BookShipmentOutput_DTO orderErrorResponse = null;
    if (Model.ErrorResponse != null)
    {
        orderErrorResponse = JsonConvert.DeserializeObject<BookShipmentOutput_DTO>(Model.ErrorResponse);
    }
    PaymentResponse response = null;
    if (ViewBag.response == null)
    {
        try
        {
            response = (PaymentResponse)ViewBag.response;
        }
        catch { }
    }
}
<style>
    td {
        color: #747579 !important;
    }
</style>
<section class="pt-3">
    <div class="container">
        @if (response != null)
        {
            @if (response.StatusId == 1)
            {
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <h3 class="text-success">Your order has been placed successfuly</h3>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Order", "address")" class="btn btn-success">View Orders</a>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <h3 class="text-danger">Somthing went wrong with your payment process please try again</h3>
                        <p class="text-danger">Status : @response.TransectionMessage</p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Checkout", "address",new{orderId= Model.OrderId})" class="btn btn-success">Check Out order</a>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            }
        }
        <div class="row">
            <div class="col-md-12">
                <div class="vstack gap-4">
                    <div class="card border">
                        <div class="card-header border-bottom">
                            <h6 class="card-header-title">Detail</h6>
                        </div>
                        <div class="card-body" style="overflow:auto;">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>RefrenceNo: <b>@Model.RefrenceNo</b></p>
                                </div>
                                <div class="col-md-4">
                                    <p>Payment Status: <b>@(Model.IsPaymentReceived ? "Paid" : "UnPaid")</b></p>
                                </div>

                            </div>
                            @if (orderResponse != null)
                            {
                                @if (orderResponse?.Status == "SUCCESS")
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h6> Your Customs Invoice (Packing List)</h6>
                                            <p class="mb-0">
                                                Please print off three copies of your Packing List and attach them to your parcel, preferably in an envelope or “document enclosed” wallet for protection.
                                            </p>
                                            <h6>Your Shipping Label (Air Waybill)</h6>
                                            <p class="mb-0">
                                                Please find your Shipping Label for the above order attached. Please use the thermal labels attachment if you are using a thermal label printer.<br />
                                                Please print your Shipping Label and securely attach it to your parcel.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <table class="table table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Format</th>
                                                    <th>Label Size</th>
                                                    <th>Download</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (orderResponse.Labels != null && orderResponse.Labels?.Count > 0)
                                                {
                                                    <tr>
                                                        <td>Tracking No</td>
                                                        <td colspan="3">@orderResponse.Labels.FirstOrDefault().AirWaybillReference</td>
                                                    </tr>
                                                    @foreach (var item in orderResponse.Labels)
                                                    {
                                                        <tr>
                                                            <td>@item.LabelRole</td>
                                                            <td>@item.LabelFormat</td>
                                                            <td>@item.LabelSize</td>
                                                            <td><a class="lable-download" href="@item.DownloadURL" target="_blank" download="label.pdf">Download</a></td>
                                                        </tr>
                                                    }
                                                }
                                                @if (orderResponse.Documents != null && orderResponse.Documents?.Count > 0)
                                                {
                                                    @foreach (var item in orderResponse.Documents)
                                                    {
                                                        <tr>
                                                            <td>@item.DocumentType</td>
                                                            <td>@item.Format</td>
                                                            <td></td>
                                                            <td><a href="@item.DownloadURL" target="_blank" download="label">Download</a></td>
                                                        </tr>
                                                    }
                                                }


                                            </tbody>
                                        </table>
                                    </div>
                                }
                            }
                            else
                            {
                                @if (orderErrorResponse != null )
                                {
                                    <h3 class="text-danger">Error</h3>
                                    @foreach (var item in orderErrorResponse.Notifications)
                                    {
                                        <p><b>@item.Severity : </b>@item.Message</p>
                                    }
                                }
                            }
                            @if (Model.OrderStatusId != 5 && (Model.IsPaymentReceived || (customer != null && customer?.Email == "admin@megwayparcels.co.uk")))
                            {
                                <a href="/Address/ReBookOrder?orderId=@Model.OrderId">
                                    <input type="button" class="btn btn-primary rounded-pill" value="Re-Book Order" />
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-8 col-xl-9">
                <div class="col-md-12">
                    <div class="vstack gap-4">
                        <div class="card border" style="overflow:auto;">
                            <div class="card-header border-bottom">
                                <h6 class="card-header-title">Quote Summary</h6>
                            </div>
                            <div class="card-body">
                                <table class="table table-sm">
                                    <tr>
                                        <td>Carrier:</td>
                                        <td><b> @shipmentResult.CarrierName</b></td>
                                        <td>Service:</td>
                                        <td><img src="/image/shipment/@Model.SelectedCompanyLogo" style="width:70px;" /> <b> @Html.Raw(shipmentResult.ServiceName)</b></td>
                                        <td>Chargeable weight:</td>
                                        <td> <b> @shipmentResult.ChargeableWeight</b></td>
                                    </tr>
                                    <tr>
                                        <td>Price:</td>
                                        <td><b>£ @Model.ShippingCharges</b></td>
                                        <td>Surcharges:</td>
                                        <td><b>£ @(Model.Surcharges)</b></td>
                                        <td>Remote Surcharges:</td>
                                        <td><b>£ @(Model.RemoteSurcharges)</b></td>
                                    </tr>
                                    <tr>
                                        @if ((devDetail?.IsSignatureRequired ?? false))
                                        {
                                            <td>Signature Price:</td>
                                            <td><b>£ @(Model.SignaturePrice)</b></td>
                                        }
                                        @if ((devDetail?.IsResidentialAddress ?? false))
                                        {
                                            <td>Residential Surcharge:</td>
                                            <td><b>£ @(Model.ResidentialSurcharge)</b></td>
                                        }
                                        <td>Total:</td>
                                        <td><b>£ @(String.Format("{0:0.00}", (total)))</b></td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <br />
                @if (Model.CustomerInvoices != null && Model.CustomerInvoices.Count > 0)
                {
                    int counter = 1;
                    <div class="vstack gap-4">
                        <div class="card border" style="overflow:auto;">
                            <div class="card-header border-bottom">
                                <h6 class="card-header-title">Contents Declaration</h6>
                            </div>
                            <div class="card-body">
                                <table class="table table-sm">
                                    @foreach (var item in Model.CustomerInvoices)
                                    {
                                        <tr>
                                            <th>Box @counter Contents Contents</th>
                                            <td>Goods description: </td>
                                            <th>@item.ProductDescription</th>
                                            <td>Commodity code:</td>
                                            <th>@item.CommodityCode</th>
                                            <td>Country of origin:</td>
                                            <th>@item.CountryId</th>
                                        </tr>
                                        counter++;
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="vstack gap-4">
                        <div class="card border" style="overflow:auto;">
                            <div class="card-header border-bottom">
                                <h6 class="card-header-title">Customs Duty & Tax Billing Options</h6>
                            </div>
                            <div class="card-body">
                                <input type="radio" /> pays (DDU) Receiver pays (DDU)
                                <p>
                                    By sending DDU, the receiver will be required to pay all applicable destinationduties and taxes.
                                </p>
                            </div>
                        </div>
                    </div>
                    <br />
                }

                <div class="vstack gap-4">
                    <div class="card border" style="overflow:auto;">
                        <div class="card-header border-bottom">
                            <h6 class="card-header-title">Customs Declaration</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-sm">
                                <tr>
                                    <td>Use your own customs invoice?</td>
                                    <th>@Model.ConsignmentSummaries.FirstOrDefault().IsCustomsInvoice</th>
                                    <td>Content Summary: </td>
                                    <th>@Model.ConsignmentSummaries.FirstOrDefault().ContentSummary</th>
                                    <td>Reason for Shipment:</td>
                                    <th>@Model.ConsignmentSummaries.FirstOrDefault().ReasonForShipment</th>
                                </tr>
                                <tr>
                                    <td>Total Goods Value:</td>
                                    <th>£ @Model.ConsignmentSummaries.FirstOrDefault().TotalGoodsValue</th>
                                    <td>Shipping Charges:</td>
                                    <th>£ @Model.ConsignmentSummaries.FirstOrDefault().ShippingCharges</th>
                                    <td>Total Value for Customs:</td>
                                    <th>£ @Model.ConsignmentSummaries.FirstOrDefault().TotalValueForCustoms</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-xl-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="vstack gap-4">
                            <div class="card border" style="overflow:auto;">
                                <div class="card-header border-bottom d-flex justify-content-between align-items-center">
                                    <h6 class="card-header-title">Sender's Details</h6>
                                    <a href="/Address/Index?orderId=@Model.OrderId"><button type="button" class="btn btn-light btn-sm rounded-pill">Edit</button></a>
                                </div>
                                <div class="card-body">
                                    <p>@collection.Forename @collection.Surname</p>
                                    <p>@collection.AddressLineOne @collection.AddressLineTwo @collection.City, @collection.County. @collection.Postcode</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    @if (exporter != null)
                    {
                        <div class="col-md-12">
                            <div class="vstack gap-4">
                                <div class="card border" style="overflow:auto;">
                                    <div class="card-header border-bottom d-flex justify-content-between align-items-center">
                                        <h6 class="card-header-title">Exporter's Details</h6>
                                        <a href="/Address/Exporter?orderId=@Model.OrderId"><button type="button" class="btn btn-light btn-sm rounded-pill">Edit</button></a>
                                    </div>
                                    <div class="card-body">
                                        <p>@exporter.Forename @exporter.Surname</p>
                                        <p>@exporter.AddressLineOne @exporter.AddressLineTwo @exporter.City, @exporter.County. @exporter.Postcode</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    }
                    <div class="col-md-12">
                        <div class="vstack gap-4">
                            <div class="card border" style="overflow:auto;">
                                <div class="card-header border-bottom d-flex justify-content-between align-items-center">
                                    <h6 class="card-header-title">Receiver's Details</h6>
                                    <a href="/Address/Index?orderId=@Model.OrderId"><button type="button" class="btn btn-light btn-sm rounded-pill">Edit</button></a>
                                </div>
                                <div class="card-body">
                                    <p>@delivery.Forename @delivery.Surname</p>
                                    <p>@delivery.AddressLineOne @delivery.AddressLineTwo @delivery.City, @delivery.County. @delivery.Postcode</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>

<script>
    $('body').on('click', '.lable-download', function (e) {
        e.preventDefault();

        window.open(this.href.replace("http://", "https://"));
    })

</script>